<div class="row">
  <div class="col-md-3">
  	<%= link_to 'Back', :back, :class => "btn btn-primary" %>
  </div>
  <div class="col-md-6">
  	<h1>Submit your story</h1>
  	<p>
  	The rules for submitting an articles are simple. 
  	<br>
  		<ul>
  			<li>Try to write grammatically correct</li>
  			<li>Do not use profanity unless its important to the story</li>
  			<li>Post with context, readers must understand what situation you are in and what happened</li>
  		</ul>
  	</p>

	<%= render 'form' %>

	

  </div>
  <div class="col-md-3"></div>
</div>


