@import "bootstrap";
@import "font-awesome";



div.wrapper{
	margin: 0 auto;
	box-sizing: content-box;
    width: 800px;
    
}

.posts-container {
     padding: 5px;
     width: 60%;  
     margin: 0 auto; 
     font-size: 18px;
}

.posts{	

    padding: 5px;
    background-color: #FFF;
}


.tags-container{ 
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    font-size: 22px;
    
}

.post-date{
    float: right;
}

p {
    text-align: left;
}

.auth {
	float:right;
}

.pagination {
    margin: 0 auto;
    width: 60%;
    display: block;
}

.post-tags {

}   

.post-actions{
    float: right;
    
}
