@import "bootstrap";


div.wrapper{
	margin: 0 auto;
	box-sizing: content-box;
    width: 960px;
}

.posts{	
	width: 70%;
    margin: 0 auto;
    padding: 0;
    background-color: lightgrey;
    padding: 5px;
}
.post-date{
    		float: right;
}

p {
    	text-align: left;
}

.auth {
	float:right;
}


